<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <link href="static/custom.css">
  </head>
  <body>

	<br/><br/>

    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <img src="static/cover.png" alt="cover" class="img-fluid" />
        </div>
        <div class="col-xs-6">
          <form>
            請輸入邀請碼：<br/>
            <input type="text" class="form-control" /><br/>
            <button class="btn btn-primary">Sign-in</button>
          </form>
        </div>
      </div>
    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <script>
    $(function() {
      $('button').click(function() { location.href='dashboard'; return false; });
    });
    </script>
  </body>
</html>

